body {
	  width: 600px;
	  margin:20px auto;
	  font-family: sans-serif;
}

h2 {
	 font-size: 39px;
	 line-height: 43px;
	 letter-spacing: -1px;
}

a {
	 color: #276056;
	 font-size: 14px;
}

a:hover{
	color: black;
}

article img {
	float: left;
	margin-right: 30px;
}

article h2 {
	    margin: 0;
}

.continue {
	float: right;
	font-size: 14px;
}

.continue:after {
content:')';
}

.continue:before {
	 content:'(';
}

.meta {
	  padding-left: 0;
	  margin: 0 0 8px;
}

.meta a, .post_info a {
	font-style: italic;
}

.meta li:after {
	content: '\\';
	padding: 0 2px;
	color: #999;
}

.meta li:last-child:after {
	content: '';
}

.meta li {
	display: inline;
}

.preview {
	float: right;
	width: 370px;
}

.post_info {
	  background: #f3f3f3;
	  color: #999;
	  padding: 3px;
	  float: left;
	  font-size: 14px;
}

.post_info a {
	 color: #999;
	 text-decoration: none;
}

.post_info a:hover {
	 color: black;
}

.body {
	clear:both;
	color: #575757;
}

p {
	font-size: 14px;
	line-height: 21px;
}