.container_12 {
	 background: red;
}

nav li {
	    display: inline;
		margin-left: 0px;
		margin-right: 30px;
}

aside {
	   background: green;
}

.primary {
	  background: #e3e3e3;
}

header {
	  background: yellow;
}

.main {
	   margin: 30px 0;
}

section div
{
	padding: 10px;
}

section {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 padding: 15px;
}